doctype html
html(lang='en')
	head
		title MAR DONATIONS
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/info.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,100', rel='stylesheet', type='text/css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
	body
		.container
			.text-vertical-center
				.row
					img.mhs(src = 'mhs.png', width = "150", height = "150")
					img(src = 'marfirst.png', width ="480", height="430")
					img.mhs(src = 'mhs.png', width = "150", height = "150")
				.row
					h1 MAR DONATIONS
		.section#marcontainer
			#title
				.text-vertical-center
					h1 What is MAR?
					

